# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.

In [46]:
#import library

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException

In [48]:
#set up the Chrome driver and open the webpage

In [49]:
driver = webdriver.Chrome()
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [50]:
#fetching required data

In [51]:
Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

In [52]:
rows = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr')

#scraping rank of the videos

try:
    for index, row in enumerate(rows[:30], start=1):
        Rank.append(str(index))
except NoSuchElementException:
    Rank.append("-")
except ElementNotVisibleException:
    Rank.append("--")
    
#scraping Name of the videos

name_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')

try:
    for i in name_tag[0:30]:
        v_name=i.text.split('[')
        Name.append(v_name[0])
except NoSuchElementException:
    Name.append("-")
except ElementNotVisibleException:
    Name.append("--")
    
#scraping Artist of the video

artist_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')

try:
    for i in artist_tag[0:30]:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")
    
#scraping Upload date of the videos

date_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')

try:
    for i in date_tag[0:30]:
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append("-")
    
#scraping Views of the videos

view_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')

try:
    for i in view_tag[0:30]:
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [53]:
#closing webdriver

In [54]:
driver.close()

In [55]:
#creating DataFrame

In [56]:
Top_videos = pd.DataFrame({})
Top_videos['Rank'] = Rank[:30]
Top_videos['Name'] = Name[:30]
Top_videos['Artist'] = Artist[:30]
Top_videos['Upload_date'] = Upload_date[:30]
Top_videos['Views(in Billions)'] = Views[:30]
Top_videos

,Rank,Name,Artist,Upload_date,Views(in Billions)
0,1,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016","7,046,700,000"
1,2,"""Despacito""",Luis Fonsi,"January 12, 2017","2,993,700,000"
2,3,"""See You Again""",Wiz Khalifa,"April 6, 2015","2,894,000,000"
3,4,"""Gangnam Style""⁂",Psy,"July 15, 2012","803,700,000"
4,5,"""Baby""*",Justin Bieber,"February 19, 2010","245,400,000"
5,6,"""Bad Romance""",Lady Gaga,"November 24, 2009","178,400,000"
6,7,"""Charlie Bit My Finger""",HDCYT,"May 22, 2007","128,900,000"
7,8,"""Evolution of Dance""",Judson Laipply,"April 6, 2006","118,900,000"
8,9,"""Girlfriend""‡",RCA Records,"February 27, 2007","92,600,000"
9,10,"""Evolution of Dance""",Judson Laipply,"April 6, 2006","78,400,000"
10,11,"""Music Is My Hot Hot Sex""‡",CLARUSBARTEL72,"April 9, 2007","76,600,000"
11,12,"""Evolution of Dance""*",Judson Laipply,"April 6, 2006","10,600,000"
12,13,"""Pokémon Theme Music Video""‡",Smosh,"November 28, 2005","4,300,000"
13,14,"""Myspace – The Movie""‡",eggtea,"January 31, 2006","2,700,000"
14,15,"""Phony Photo Booth""‡",mugenized,"December 1, 2005","3,400,000"
15,16,"""The Chronic of Narnia Rap""‡",youtubedude,"December 18, 2005","2,300,000"
16,17,"""Ronaldinho: Touch of Gold""‡*",Nikesoccer,"October 21, 2005","255,000"
17,18,"""I/O Brush""‡*",larfus,"October 5, 2005","247,000"

# 2. Scrape the details team India’s international fixtures from bcci.tv.

In [57]:
#set up the Chrome driver and open the webpage

In [67]:
driver = webdriver.Chrome()
url = 'https://www.bcci.tv/.'
driver.get(url)

In [68]:
#reach to the international fixture page
search = driver.find_element(By.XPATH,'//a[@class="border-0 "][2]').click()

In [69]:
#creating empty lists
Series = []
Place = []
Date = []
Time = []

In [72]:
#scraping the name of series

for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
    Series.append(i.text)
    
#scraping the palce

for i in driver.find_elements(By.XPATH,'//div[@class="match-venue ng-scope"]'):
    Place.append(i.text)
    
#scraping the date

for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
    Date.append(i.text)
    
#scraping the time

for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
    Time.append(i.text)

In [62]:
#closing webdriver

In [77]:
driver.close()

In [64]:
#creating DataFrame

In [74]:
Match = pd.DataFrame()
Match['Series'] = Series
Match['Place'] = Place
Match['Date'] = Date
Match['Time'] = Time
Match

,Series,Place,Date,Time
0,India Tour Of Sri Lanka T20 Series 2024,"Pallekele International Cricket Stadium, Palle...",27 Jul,19:00 IST
1,Asia Cup Women T20 2024,"Rangiri Dambulla International Stadium, Dambulla",28 Jul,15:00 IST
2,India Tour Of Sri Lanka T20 Series 2024,"Pallekele International Cricket Stadium, Palle...",28 Jul,19:00 IST
3,India Tour Of Sri Lanka T20 Series 2024,"Pallekele International Cricket Stadium, Palle...",30 Jul,19:00 IST
4,India Tour Of Sri Lanka ODI Series 2024,"R Premadasa International Stadium, Colombo",2 Aug,14:30 IST
5,India Tour Of Sri Lanka T20 Series 2024,"Pallekele International Cricket Stadium, Palle...",27 Jul,19:00 IST
6,Asia Cup Women T20 2024,"Rangiri Dambulla International Stadium, Dambulla",28 Jul,15:00 IST
7,India Tour Of Sri Lanka T20 Series 2024,"Pallekele International Cricket Stadium, Palle...",28 Jul,19:00 IST
8,India Tour Of Sri Lanka T20 Series 2024,"Pallekele International Cricket Stadium, Palle...",30 Jul,19:00 IST
9,India Tour Of Sri Lanka ODI Series 2024,"R Premadasa International Stadium, Colombo",2 Aug,14:30 IST
10,India Tour Of Sri Lanka ODI Series 2024,"R Premadasa International Stadium, Colombo",4 Aug,14:30 IST
11,India Tour Of Sri Lanka ODI Series 2024,"R Premadasa International Stadium, Colombo",7 Aug,14:30 IST
12,Bangladesh Tour Of India Test Series 2024,"MA Chidambaram Stadium, Chennai",19 Sep,9:30
13,Bangladesh Tour Of India Test Series 2024,"Green Park, Kanpur",27 Sep,9:30
14,ICC Womens T20 World Cup 2024,"Sylhet International Cricket Stadium, Sylhet",4 Oct,18:30 IST
15,ICC Womens T20 World Cup 2024,"Sylhet International Cricket Stadium, Sylhet",6 Oct,18:30 IST
16,Bangladesh Tour Of India T20 Series 2024,"Himachal Pradesh Cricket Association Stadium, ...",6 Oct,19:00 IST
17,ICC Womens T20 World Cup 2024,"Sylhet International Cricket Stadium, Sylhet",9 Oct,18:30 IST
18,Bangladesh Tour Of India T20 Series 2024,"Arun Jaitley Stadium, Delhi",9 Oct,19:00 IST
19,Bangladesh Tour Of India T20 Series 2024,"Rajiv Gandhi International Stadium, Hyderabad",12 Oct,19:00 IST
20,ICC Womens T20 World Cup 2024,"Sylhet International Cricket Stadium, Sylhet",13 Oct,18:30 IST
21,New Zealand Tour Of India Test Series 2024,"M Chinnaswamy Stadium, Bengaluru",16 Oct,9:30 IST
22,New Zealand Tour Of India Test Series 2024,"Maharashtra Cricket Association Stadium, Pune",24 Oct,9:30 IST
23,New Zealand Tour Of India Test Series 2024,"Wankhede Stadium, Mumbai",1 Nov,9:30 IST
24,India Tour Of South Africa T20 Series 2024,"Kingsmead, Durban",8 Nov,20:00
25,India Tour Of South Africa T20 Series 2024,"St George's Park, Gqeberha",10 Nov,20:00
26,India Tour Of South Africa T20 Series 2024,"SuperSport Park, Centurion",13 Nov,20:00
27,India Tour Of South Africa T20 Series 2024,"The Wanderers Stadium, Johannesburg",16 Nov,20:00
28,England Tour Of India T20 Series 2025,"MA Chidambaram Stadium, Chennai",22 Jan,19:00 IST
29,England Tour Of India T20 Series 2025,"Eden Gardens, Kolkata",25 Jan,19:00 IST
30,England Tour Of India T20 Series 2025,"Niranjan Shah Stadium, Rajkot",28 Jan,19:00 IST
31,England Tour Of India T20 Series 2025,"Maharashtra Cricket Association Stadium, Pune",31 Jan,19:00 IST
32,England Tour Of India T20 Series 2025,"Wankhede Stadium, Mumbai",2 Feb,19:00 IST
33,England Tour Of India ODI Series 2025,"Vidarbha Cricket Association Stadium, Nagpur",6 Feb,13:30
34,England Tour Of India ODI Series 2025,"Barabati Stadium, Cuttack",9 Feb,13:30

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.

In [75]:
#set up the Chrome driver and open the webpage

In [86]:
driver = webdriver.Chrome()
url = 'http://statisticstimes.com/'
driver.get(url)

In [89]:
#click on Economy 
search = driver.find_element(By.XPATH,'//div[@id="top"]/div[2]/div[2]/button').click()

In [90]:
#click on india
click = driver.find_element(By.XPATH,'//div[@class="dropdown-content"]/a[3]').click()

In [91]:
#click on GDP of Indian states
GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]').click()
time.sleep(3)

In [92]:
#creating empty lists
Rank = []
State = []
GSDP_18_19 = []
GSDP_19_20 = []
Share_18_19 = []
GDP_billion = []

In [93]:
#scraping rank
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")
    
#sracping state
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]'):
         State.append(i.text)
except NoSuchElementException:
    State.append("-")
    
#scraping GSDP(18-19)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]'):
        GSDP_18_19.append(i.text)
except NoSuchElementException:
    GSDP_18_19.append("-")
    
#scraping GSDP(19-20)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]'):
        GSDP_19_20.append(i.text)
except NoSuchElementException:
    GSDP_19_20.append("-")
    
#scraping Share(18-19)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]'):
        Share_18_19.append(i.text)
except NoSuchElementException:
    Share_18_19.append("-")
    
#scraping GDP
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[7]'):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("-")

In [94]:
#ctrating DataFrame

GDP = pd.DataFrame()
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP(18-19)- at current prices'] = GSDP_18_19
GDP['GSDP(19-20)- at current prices'] = GSDP_19_20
GDP['Share(18-19)'] = Share_18_19
GDP['GDP($ billion)'] = GDP_billion
GDP

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"3,108,022",-,13.17%,414.928
1,2,Tamil Nadu,"2,071,286","2,364,514",8.78%,276.522
2,3,Karnataka,"1,978,094","2,269,995",8.38%,264.080
3,4,Uttar Pradesh,"1,975,595","2,258,040",8.37%,263.747
4,5,Gujarat,"1,928,683","2,230,609",8.17%,257.484
...,...,...,...,...,...,...
61,29,Sikkim,"31,519","35,670",0.15%,-
62,30,Arunachal Pradesh,"31,420","35,555",0.15%,-
63,31,Nagaland,"26,924","30,957",0.13%,-
64,32,Mizoram,"24,293",-,0.12%,-
65,33,Andaman & Nicobar Islands,"9,209",-,0.04%,-

In [95]:
#closing webdriver

In [96]:
driver.close()

# 4. Scrape the details of trending repositories on Github.com.

In [97]:
#set up the Chrome driver and open the webpage

In [98]:
driver = webdriver.Chrome()
url = 'https://github.com/'
driver.get(url)

In [99]:
#click on Open Source

open_source = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]').click

#click on trending

trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/div/div[3]/ul/li[2]/a')
urls = trending.get_attribute("href")
driver.get(urls)

In [100]:
#creating empty list
URLs = []
Repository_title = []
Description = []
Contributors = []
Language = []

In [203]:
#scraping urls

repository = driver.find_elements(By.XPATH,'//a[@class="js-selected-navigation-item selected subnav-item"]')
for i in repository:
    URLs.append(i.get_attribute("href"))
    
#scraping Title data

title = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in title:
    Repository_title.append(i.text)
    
#scraping description data

description = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in description:
    Description.append(i.text)
    
#scraping contributors data

contributors = driver.find_elements(By.XPATH,'//span[@class="d-inline-block mr-3"]')
for i in contributors:
    Contributors.append(i.text)
    
#scraping language data

language = driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in language:
    Language.append(i.text)

In [102]:
#creating DataFrame

Github = pd.DataFrame()
Github['Repository_title'] = Repository_title[:15]
Github['Repository_description'] = Description[:15]
Github['Contibutors_count'] = Contributors[:15]
Github['Language_used'] = Language[:15]


Github

,Repository_title,Repository_description,Contibutors_count,Language_used
0,sindresorhus / awesome,😎 Awesome lists about all kinds of interesting...,Built by,TypeScript
1,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,Built by,Java
2,Netflix / maestro,Maestro: Netflix’s Workflow Orchestrator,Built by,Python
3,meta-llama / llama3,The official Meta Llama 3 GitHub site,Built by,C++
4,practical-tutorials / project-based-learning,Curated list of project-based tutorials,Built by,C#
5,gabime / spdlog,Fast C++ logging library.,Built by,C
6,fullstackhero / dotnet-starter-kit,Production Grade Cloud-Ready .NET 8 Starter Ki...,Built by,C
7,DarkFlippers / unleashed-firmware,Flipper Zero Unleashed Firmware,Built by,C++
8,lz4 / lz4,Extremely Fast Compression algorithm,Built by,Go
9,facebook / folly,An open-source C++ library developed and used ...,Built by,Go
10,influxdata / telegraf,"Agent for collecting, processing, aggregating,...",Built by,TypeScript
11,ollama / ollama,"Get up and running with Llama 3.1, Mistral, Ge...",Built by,JavaScript
12,langgenius / dify,Dify is an open-source LLM app development pla...,Built by,Python
13,drawdb-io / drawdb,"Free, simple, and intuitive online database de...",Built by,CSS
14,Asabeneh / 30-Days-Of-Python,30 days of Python programming challenge is a s...,Built by,Java

In [103]:
#closing webdriver
driver.close()

# 5. Scrape the details of top 100 songs on billiboard.com.

In [104]:
#set up the Chrome driver and open the webpage

In [177]:
driver = webdriver.Chrome()
url = 'https:/www.billboard.com/'
driver.get(url)

In [183]:
chart = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a').click()

In [187]:
#scraping urls for 100 songs
top_song = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')
urls = top_song.get_attribute("href")
driver.get(urls)

In [208]:
#creating empty list

Song_name = []
Artist_name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [209]:
#scraping data of song name
songs = driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in songs:
    Song_name.append(i.text)
    
#scraping data of artist name
artist = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in artist:
    Artist_name.append(i.text)
    
#scraping data of last week rank
week = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in week:
    Last_week_rank.append(i.text)
    
#scraping data of peak rank
rank = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in rank:
    Peak_rank.append(i.text)
    
#scraping data of Weeks on board
weeks = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
for i in weeks:
    Weeks_on_board.append(i.text)
    
    
#creating DataFRame

Top_songs = pd.DataFrame()
Top_songs['Song name'] = Song_name[:50]
Top_songs['Artist name'] = Artist_name[:50]
Top_songs['Last week rank'] = Last_week_rank[:50]
Top_songs['Peak rank'] = Peak_rank[:50]
Top_songs['Weeks on board'] = Weeks_on_board[:50]
Top_songs

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,I Had Some Help,Post Malone Featuring Morgan Wallen,3,3,2
1,Not Like Us,Kendrick Lamar,1,1,14
2,Million Dollar Baby,Tommy Richman,10,10,3
3,Espresso,Sabrina Carpenter,,,10
4,Please Please Please,Sabrina Carpenter,,,1
5,Too Sweet,Hozier,,,11
6,Lose Control,Teddy Swims,1,1,4
7,Beautiful Things,Benson Boone,1,1,12
8,Houdini,Eminem,11,11,5
9,"Good Luck, Babe!",Chappell Roan,,,14
10,Lies Lies Lies,Morgan Wallen,,,6
11,Birds Of A Feather,Billie Eilish,,,6
12,Cowgirls,Morgan Wallen Featuring ERNEST,4,4,8
13,Pink Skies,Zach Bryan,2,2,17
14,28,Zach Bryan,12,12,10
15,Fortnight,Taylor Swift Featuring Post Malone,,,49
16,Like That,"Future, Metro Boomin & Kendrick Lamar",,,9
17,Habits,Eminem & White Gold,,,26
18,Renaissance,Eminem,5,5,18
19,Fuel,Eminem & JID,3,3,7
20,Saturn,SZA,14,14,13
21,Miles On It,Marshmello & Kane Brown,,,15
22,Tobey,"Eminem, Big Sean & BabyTron",,,7
23,Brand New Dance,Eminem,,,2
24,Austin,Dasha,6,6,11
25,Somebody Save Me,Eminem & Jelly Roll,1,1,9
26,High Road,Koe Wetzel & Jessie Murph,6,6,15
27,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,,,31
28,Evil,Eminem,,,12
29,Trouble,Eminem,,,8
30,Ain't No Love In Oklahoma,Luke Combs,8,8,14
31,Pour Me A Drink,Post Malone Featuring Blake Shelton,1,1,2
32,Wanna Be,GloRilla & Megan Thee Stallion,17,17,16
33,We Can't Be Friends (Wait For Your Love),Ariana Grande,,,13
34,Lunch,Billie Eilish,,,17
35,Lucifer,Eminem & Sly Pyper,,,17
36,Feather,Sabrina Carpenter,10,10,-
37,Antichrist,Eminem,1,1,1
38,Hot To Go!,Chappell Roan,49,49,-
39,Si Antes Te Hubiera Conocido,Karol G,,,1
40,Whiskey Whiskey,Moneybagg Yo Featuring Morgan Wallen,,,-
41,I Can Do It With A Broken Heart,Taylor Swift,,,1
42,Stick Season,Noah Kahan,9,9,19
43,Guilty Conscience 2,Eminem,2,2,21
44,I Am Not Okay,Jelly Roll,26,26,20
45,TGIF,GloRilla,,,11
46,Lovin On Me,Jack Harlow,,,27
47,Slow It Down,Benson Boone,,,3
48,Yeah Glo!,GloRilla,18,18,-
49,Mamushi,Megan Thee Stallion Featuring Yuki Chiba,2,2,1

# 6. Scrape the details of Highest selling novels.

In [121]:
#set up the Chrome driver and open the webpage

In [4]:
driver = webdriver.Chrome()
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [5]:
#creating empty lists
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

In [6]:
#scraping the data of book name
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]'):
    Book_name.append(i.text)
    
#scraping the data of Author name
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]'):
    Author_name.append(i.text)
    
#scraping the data of volumes sold
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]'):
    Volumes_sold.append(i.text)
    
#scraping the data of publisher
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]'):
    Publisher.append(i.text)
    
#scrapingthe data of genre
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]'):
    Genre.append(i.text)
    
#creating DataFrame

Novels = pd.DataFrame()
Novels['Book Name'] = Book_name
Novels['Author Name'] = Author_name
Novels['Volumes Sold'] = Volumes_sold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [7]:
#closing webdriver
driver.close()

# 7. Scrape the details most watched tv series of all time from imdb.com.

In [126]:
#set up the Chrome driver and open the webpage

In [127]:
driver = webdriver.Chrome()
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

# Note : getting 404 page not found error for this url

# 8. Details of Datasets from UCI machine learning repositories

In [8]:
#set up the Chrome driver and open the webpage

In [9]:
driver = webdriver.Chrome()
url = 'https://archive.ics.uci.edu/'
driver.get(url)

In [10]:
#click on all datasets 
all_dataset = driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
list_url = all_dataset.get_attribute("href")
driver.get(list_url)
time.sleep(4)

In [43]:
#creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attribute = [] 
Year = []

In [22]:
expend = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]').click()

In [45]:
#scraping data of dataset name
try:
    dataset = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in dataset:
        Dataset_name.append(i.text)
except NoSuchElementException:
    Dataset_name.append('-')
    
#scraping data of data type

try:
    data_type = driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]')
    for i in data_type:
        Data_type.append(i.text)
except NoSuchElementException:
    Data_type.append('-')

    
#scraping data of task

try:
    task = driver.find_elements(By.XPATH,'//div[1][@class="col-span-3 flex items-center gap-2"]//span[1]')
    for i in task:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')
    
#scraping data of attribute type

try:
    attribute_type = driver.find_elements(By.XPATH,'//div[2][@class="col-span-3 flex items-center gap-2"]')
    for i in attribute_type:
        Attribute_type.append(i.text)
except NoSuchElementException:
    Attribute_type.append('-')
    
#scraping data of no of instances

try:
    instances = driver.find_elements(By.XPATH,'//div[3][@class="col-span-3 flex items-center gap-2"]//span[1]')
    for i in instances:
        No_of_instances.append(i.text)
except NoSuchElementException:
    No_of_instences.append('-')
    
#scraping data of no of attribute

try:
    attribute = driver.find_elements(By.XPATH,'//div[4][@class="col-span-3 flex items-center gap-2"]//span[1]')
    for i in attribute:
        No_of_attribute.append(i.text)
except NoSuchElementException:
    No_of_attribute.append('-') 
    
#scraping data of year

try:
    year = driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]')
    for i in year:
        Year.append(i.text[4:])
except NoSuchElementException:
    Year.append('-')
    time.sleep(3)
    
#creating DataFrame
Datasets = pd.DataFrame()
Datasets['Dataset Name'] = Dataset_name[:10]
Datasets['Data Type'] = Data_type[:10]
Datasets['Task'] = Task[:10]
Datasets['Attribute Type'] = Attribute_type[:10]
Datasets['No Of Instances'] = No_of_instances[:10]
Datasets['No Of Attribute'] = No_of_attribute[:10]
Datasets['Year'] = Year[:10]
Datasets

,Dataset Name,Data Type,Task,Attribute Type,No Of Instances,No Of Attribute,Year
0,Iris,Real,Classification,Tabular,150 Instances,4 Features,1988
1,Dry Bean,"Integer, Real",Classification,Multivariate,13.61K Instances,16 Features,/2020
2,Heart Disease,"Categorical, Integer, Real",Classification,Multivariate,303 Instances,13 Features,1988
3,Rice (Cammeo and Osmancik),Real,Classification,Multivariate,3.81K Instances,7 Features,/2019
4,Raisin,"Real, Integer",Classification,Multivariate,900 Instances,8 Features,/2023
5,Adult,"Categorical, Integer",Classification,Multivariate,48.84K Instances,14 Features,1996
6,Breast Cancer Wisconsin (Diagnostic),Real,Classification,Multivariate,569 Instances,30 Features,/1995
7,Wine,"Integer, Real",Classification,Tabular,178 Instances,13 Features,1991
8,Wine Quality,Real,"Classification, Regression",Multivariate,4.9K Instances,12 Features,/2009
9,Bank Marketing,"Categorical, Integer",Classification,Multivariate,45.21K Instances,17 Features,/2012

In [46]:
#closing webdriver
driver.close()