## Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter.

In [1]:
#import library

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
#set up the Chrome driver and open the webpage

In [137]:
driver = webdriver.Chrome()
driver.maximize_window()
url = 'https://www.naukri.com/'
driver.get(url)

In [3]:
#entering job title

In [138]:
role = driver.find_element(By.CLASS_NAME,"suggestor-input")
role.send_keys("Data Scientist")

In [4]:
#applying location and salary filter

In [139]:
results = driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
results.click()
time.sleep(3)
driver.find_element(By.XPATH,"//span[@title='Delhi / NCR']").click()
time.sleep(3)
driver.find_element(By.XPATH,"//span[@title='3-6 Lakhs']").click()

In [5]:
#fetching job title

In [140]:
job_title=[]
job_location=[]
job_company=[]
job_experience=[]

In [141]:
time.sleep(3)
jb_title = driver.find_elements(By.XPATH,"//a[@class='title ']")
for i in jb_title[:10]:
    title = i.text
    job_title.append(title)
print(job_title)

['Data Scientist', 'Data Scientist', 'Data Scientist III', 'AWS Data Engineer', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Python Data Scientist', 'Data Scientist']

In [6]:
#fetching job location

In [142]:
jb_location = driver.find_elements(By.XPATH,"//span[@class='locWdth']")
for i in jb_location[:10]:
    location = i.text
    job_location.append(location)
print(job_location)

['Delhi / NCR, Pune, Bengaluru', 'Gurugram', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'New Delhi', 'Gurugram', 'Kolkata, Pune, Gurugram']

In [7]:
#fetching company name

In [143]:
jb_company_name = driver.find_elements(By.XPATH,"//a[@class=' comp-name mw-25'] | //span[@class=' comp-name mw-25'] | //a[@class=' comp-name ']")
for i in jb_company_name[:10]:
    company_name = i.text
    job_company.append(company_name)
print(job_company)

['Wipro', 'Fortune 500 IT Services Company', 'Flutter', 'Large IT MNC', 'Essenware', 'Response Informatics', 'Big 4 Consulting Firm', 'Digital Glyde', 'Wizaltia Hr Solutions', 'Kashsam Data Solutions']

In [8]:
#fetching requried experience

In [144]:
jb_experience = driver.find_elements(By.XPATH,"//span[@class='ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp']")
for i  in jb_experience[0:10]:
    experience = i.text
    job_experience.append(experience)
print(job_experience)

['6-11 Yrs', '0-2 Yrs', '2-6 Yrs', '3-7 Yrs', '2-5 Yrs', '2-6 Yrs', '1-5 Yrs', '3-7 Yrs', '2-7 Yrs', '3-7 Yrs']

In [9]:
#closing webdriver

In [145]:
driver.close()

In [10]:
#creating DataFrame

In [146]:
Job_Dataframe = pd.DataFrame({'job-title ':job_title,'job-location':job_location,'company_name':job_company,'experience_required':job_experience})
Job_Dataframe

,job-title,job-location,company_name,experience_required
0,Data Scientist,"Delhi / NCR, Pune, Bengaluru",Wipro,6-11 Yrs
1,Data Scientist,Gurugram,Fortune 500 IT Services Company,0-2 Yrs
2,Data Scientist III,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Flutter,2-6 Yrs
3,AWS Data Engineer,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Large IT MNC,3-7 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,2-5 Yrs
5,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Response Informatics,2-6 Yrs
6,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Big 4 Consulting Firm,1-5 Yrs
7,Data Scientist,New Delhi,Digital Glyde,3-7 Yrs
8,Python Data Scientist,Gurugram,Wizaltia Hr Solutions,2-7 Yrs
9,Data Scientist,"Kolkata, Pune, Gurugram",Kashsam Data Solutions,3-7 Yrs

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [11]:
#set up the Chrome driver and open the webpage

In [17]:
driver = webdriver.Chrome()
driver.maximize_window()
url = 'https://www.shine.com/'
driver.get(url)

In [12]:
#entering job title

In [19]:
time.sleep(3)
role = driver.find_element(By.XPATH,"//div[@id='select_container_id_q']//input")
role.send_keys("Data Scientist")

In [13]:
#entering job location

In [20]:
joblocation = driver.find_element(By.XPATH,"//input[@id='id_loc']")
joblocation.send_keys("Bangalore")

In [14]:
#clicking on search button

In [21]:
results = driver.find_element(By.XPATH,'//div[@class="searchForm_btnWrap_advance__VYBHN"]//button')
results.click()
time.sleep(3)

In [15]:
#fetching job title

In [22]:
job_title=[]
job_location=[]
job_company=[]
job_experience=[]

In [23]:
time.sleep(3)
jb_title = driver.find_elements(By.XPATH,"//strong[@class='jobCard_pReplaceH2__xWmHg']//p//a")
for i in jb_title[:10]:
    title = i.text
    job_title.append(title)
print(job_title)

['Data Scientist', 'Data Scientist', 'Data Scientist Recruitment', 'Data Scientist', 'Hiring For Data Scientist', 'Data Scientist', 'Data Scientist', 'Hr Data Analyst', 'Senior Associate Data Engineering Level 2', 'Data Analyst']

In [16]:
#fetching job location

In [24]:
jb_location = driver.find_elements(By.XPATH,"//div[@class='jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']")
for i in jb_location[:10]:
    location = i.text
    location = location[0:9]
    job_location.append(location)
print(job_location)

['Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore']

In [17]:
#fetching company name

In [25]:
jb_company_name = driver.find_elements(By.XPATH,"//div[@class='jobCard_jobCard_cName__mYnow']//span")
for i in jb_company_name[:10]:
    company_name = i.text
    job_company.append(company_name)
print(job_company)

['comosrich it & consulting services', 'meraki it solutions', 'kavya interprises', 'vaishnavi services', 'neelima staffing solution', 'dotcod innovation private limited', 'talent toppers llp', 'leverage business solutions private...', 'tlg india private limited', 'phoenix global re settlement servic...']

In [18]:
#fetching requied experience

In [26]:
jb_experience = driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t']")
for i  in jb_experience[0:10]:
    experience = i.text
    job_experience.append(experience)
print(job_experience)

['3 to 8 Yrs', '3 to 6 Yrs', '0 to 4 Yrs', '18 to >25 Yrs', '0 to 4 Yrs', '2 to 6 Yrs', '0 to 3 Yrs', '4 to 8 Yrs', '5 to 9 Yrs', '3 to 8 Yrs']

In [19]:
#closing webdriver

In [27]:
driver.close()

In [20]:
#creating DataFrame

In [28]:
Job_Dataframe = pd.DataFrame({'job-title ':job_title,'job-location':job_location,'company_name':job_company,'experience_required':job_experience})
Job_Dataframe

,job-title,job-location,company_name,experience_required
0,Data Scientist,Bangalore,comosrich it & consulting services,3 to 8 Yrs
1,Data Scientist,Bangalore,meraki it solutions,3 to 6 Yrs
2,Data Scientist Recruitment,Bangalore,kavya interprises,0 to 4 Yrs
3,Data Scientist,Bangalore,vaishnavi services,18 to >25 Yrs
4,Hiring For Data Scientist,Bangalore,neelima staffing solution,0 to 4 Yrs
5,Data Scientist,Bangalore,dotcod innovation private limited,2 to 6 Yrs
6,Data Scientist,Bangalore,talent toppers llp,0 to 3 Yrs
7,Hr Data Analyst,Bangalore,leverage business solutions private...,4 to 8 Yrs
8,Senior Associate Data Engineering Level 2,Bangalore,tlg india private limited,5 to 9 Yrs
9,Data Analyst,Bangalore,phoenix global re settlement servic...,3 to 8 Yrs

## Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone

In [ ]:
#set up the Chrome driver and open the webpage

In [23]:
driver = webdriver.Chrome()
driver.maximize_window()
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART'
driver.get(url)

In [24]:
Rating=[]
Review_Summary=[]
Full_review=[]

In [21]:
#fetching required data

In [25]:
for page in range(1,11):
    rating = driver.find_elements(By.XPATH,"//div[@class='XQDdHH Ga3i8K']")
    review = driver.find_elements(By.XPATH,"//p[@class='z9E0IG']")
    full_review = driver.find_elements(By.XPATH,"//div[@class='ZmyHeo']")

    for rat in rating:
        rt = rat.text
        Rating.append(rt)

    for rev in review:
        rv = rev.text
        Review_Summary.append(rv)

    for frev in full_review:
        fr = frev.text
        Full_review.append(fr)
    
    time.sleep(3)

    nxt_page = driver.find_elements(By.XPATH,'//a[@class="cn++Ap"]')

In [22]:
#checking lenght of data

In [26]:
print(len(Rating))
print(len(Review_Summary))
print(len(Full_review))

100
100
100

In [23]:
#closing webdriver

In [27]:
driver.close()

In [24]:
#creating DataFrame

In [28]:
Iphone_Reviews= pd.DataFrame({})
Iphone_Reviews['Rating'] = Rating[:100]
Iphone_Reviews['Review Summary'] = Review_Summary[:100] 
Iphone_Reviews['Full Review'] = Full_review[:100]
Iphone_Reviews.tail()

   Rating    Review Summary                                        Full Review
95      5         Wonderful                             This is amazing at all
96      5         Just wow!                                  Perfect Product!!
97      5    Classy product  Camera is awesome\nBest battery backup\nA perf...
98      5  Perfect product!                                       Photos super
99      5         Fabulous!  It’s very good battery life and display and vi...

## Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” inthe search field

In [25]:
#set up the Chrome driver and open the webpage

In [29]:
driver = webdriver.Chrome()
driver.maximize_window()
url = 'https://www.flipkart.com/'
driver.get(url)

In [26]:
#searching for snearkers

In [30]:
search = driver.find_element(By.XPATH,"//div[@class='_2SmNnR']//input")
search.send_keys("sneakers")

In [27]:
#click on search button

In [31]:
results = driver.find_element(By.XPATH,'//div[@class="_1sFryS _2alaMB"]//button')
results.click()
time.sleep(3)

In [28]:
#fetching required data

In [35]:
sneakers_brand=[]
sneakers_prodDesc=[]
sneakers_price=[]

In [36]:
for page in range(0,3):
    shoe_brand = driver.find_elements(By.XPATH,"//div[@class='syl9yP']")
    product_desc = driver.find_elements(By.XPATH,"//a[@class='WKTcLC BwBZTg'] | //a[@class='WKTcLC']")
    prices = driver.find_elements(By.XPATH,"//div[@class='Nx9bqj']")

    for brd in shoe_brand:
        brand = brd.text
        sneakers_brand.append(brand)
    
    for desc in product_desc:
        description = desc.text
        sneakers_prodDesc.append(description)
    
    for pr in prices:
        price = pr.text
        sneakers_price.append(price)

    time.sleep(3)
    nxt_page = driver.find_elements(By.XPATH,'//a[@class="cn++Ap"]')

In [29]:
#checking lenth of data

In [37]:
print(len(sneakers_brand))
print(len(sneakers_prodDesc))
print(len(sneakers_price))

120
120
120

In [30]:
#closing webdriver

In [38]:
driver.close()

In [31]:
#creating DataFrame

In [39]:
Sneakers = pd.DataFrame({})
Sneakers['Brand'] = sneakers_brand[:100]
Sneakers['Description'] = sneakers_prodDesc[:100] 
Sneakers['Price'] = sneakers_price[:100]
Sneakers.tail()

              Brand                                        Description   Price
95  U.S. POLO ASSN.                                   Sneakers For Men  ₹1,249
96            Sparx   SM 734 | Stylish, Comfortable | Sneakers For Men    ₹721
97           BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    ₹297
98             aadi  Aadi Men Black & Green Casual Sneaker Sneakers...    ₹469
99      bacca bucci  OG TerraForge Low-Top Series: Bold Street-Read...  ₹1,699

## Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image

In [32]:
#set up the Chrome driver and open the webpage

In [51]:
driver = webdriver.Chrome()
driver.maximize_window()
url = 'https://www.amazon.in/'
driver.get(url)

In [33]:
#searching for laptop

In [52]:
search = driver.find_element(By.XPATH,"//input[@class='nav-input nav-progressive-attribute']")
search.send_keys("Laptop")

In [34]:
#clicking on search icon

In [53]:
results = driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
results.click()
time.sleep(3)

In [35]:
#applying filter

In [54]:
driver.find_element(By.XPATH,"//span[text()='Intel Core i7']").click()
time.sleep(3)

In [37]:
#fetching title

In [139]:
Laptop_titles = []
Ratings = []
Prices = []

In [140]:
lt_title = driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in lt_title[:10]:
    title = i.text
    Laptop_titles.append(title)
print(Laptop_titles)

['MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN', 'Lenovo IdeaPad 3 Intel Core i7 12th Gen 1255U - (16 GB/512 GB SSD/Windows 11 Home) 15IAU7 Laptop 82RK011GIN (39.62 cm, Arctic Grey, 1.63 Kg, with MS Office)', 'HP Laptop 15s, 12th Gen Intel Core i7-1255U, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 512GB SSD, Intel Iris Xe graphics, Backlit KB, Thin & light (Win 11, MSO 2021, Silver, 1.69 kg), fq5190TU', 'ASUS TUF Gaming F15, 15.6" (39.62cm) FHD 144Hz, 13th Gen Intel Core i7-13620H, Gaming Laptop (16GB DDR5/512GB SSD/NVIDIA GeForce RTX 4060 /Windows 11//Mecha Gray/2.20 Kg), FX507VV-LP287W', 'Lenovo IdeaPad Slim 5 Intel Core i7 13700H 16" (40.6cm) 2.5K IPS 350Nits Laptop (16GB/1TB SSD/Win 11/Office 2021/Backlit KB/FHD 1080p +IR Camera/Alexa/3 month Game Pass/Cloud Grey/1.9Kg), 82XF0078IN', 'Samsung Galaxy Book3 Core i7 13th Gen 1355U - (16 GB/512 GB SSD/Windows 11 Home) Galaxy Book3 Thin and Light Laptop (15.6 Inch, Silver, 1.58 Kg, with MS Office)', 'HP Pavilion 15, 13th Gen Intel Core i7-1360P, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 1TB SSD, Intel Iris Xᵉ graphics, FPR, Backlit KB, Audio by B&O (Win 11, MSO 2021, Silver, 1.74 kg), eg3036TU', 'HP OMEN Gaming Laptop, Intel Core i7-13700HX, 6GB RTX 3050 GPU, 16.1-inch (40.9 cm), 95W TGP, FHD, IPS, 165Hz, 300 nits, 16GB DDR5, 512GB SSD, RGB Backlit KB, B&O (MSO, Black, 2.32 kg), wf0179TX', 'Dell Inspiron 3530 Laptop, 13th Generation Intel Core i7-1355U Processor, 16GB, 512GB, 15.6" (39.62cm) FHD 120Hz Display, Backlit KB, Win 11 + MSO\'21, 15 Month McAfee, Silver, Thin & Light-1.62kg', 'Lenovo ThinkPad E14 Intel Core i7 13th Gen 14" WUXGA IPS 300 Nits Thin and Light Laptop (16GB RAM/1TB SSD/Windows 11 Home/Backlit Keyboard/FPR/Black/1Y Onsite/1.41 kg), 21JKS1CT00']

In [38]:
#fetching ratings

In [141]:
lt_rating = driver.find_elements(By.XPATH, "//div[@data-asin]//span[contains(@class, 'a-icon-alt')]")
for i in lt_rating[:10]:
    rating = driver.execute_script("return arguments[0].innerText;", i).strip()
    Ratings.append(rating)
print(Ratings)

['4.0 out of 5 stars', '4.1 out of 5 stars', '3.4 out of 5 stars', '5.0 out of 5 stars', '4.2 out of 5 stars', '4.0 out of 5 stars', '3.9 out of 5 stars', '4.0 out of 5 stars', '3.5 out of 5 stars', '5.0 out of 5 stars']

In [39]:
#fetching price

In [142]:
lt_price = driver.find_elements(By.XPATH,"//div[contains(@class, 'sg-col-20-of-24 s-result-item s-asin sg-col-0-of-12 sg-col-16-of-20 sg-col s-widget-spacing-small sg-col-12-of-16')]//span[@class='a-price-whole']")
for i in lt_price[:10]:
    prc = i.text
    Prices.append(prc)
print(Prices)

['47,990', '62,020', '64,490', '1,09,990', '86,019', '81,990', '83,990', '98,990', '70,190', '89,990']

In [40]:
#closing webdriver

In [145]:
driver.close()

In [41]:
#creating DataFrame

In [146]:
Laptop_Details = pd.DataFrame({})
Laptop_Details['Title'] = Laptop_titles
Laptop_Details['Rating'] = Ratings
Laptop_Details['Price'] = Prices
Laptop_Details

,Title,Rating,Price
0,"MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...",4.0 out of 5 stars,"47,990"
1,Lenovo IdeaPad 3 Intel Core i7 12th Gen 1255U ...,4.1 out of 5 stars,"62,020"
2,"HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...",3.4 out of 5 stars,"64,490"
3,"ASUS TUF Gaming F15, 15.6"" (39.62cm) FHD 144Hz...",5.0 out of 5 stars,"1,09,990"
4,"Lenovo IdeaPad Slim 5 Intel Core i7 13700H 16""...",4.2 out of 5 stars,"86,019"
5,Samsung Galaxy Book3 Core i7 13th Gen 1355U - ...,4.0 out of 5 stars,"81,990"
6,"HP Pavilion 15, 13th Gen Intel Core i7-1360P, ...",3.9 out of 5 stars,"83,990"
7,"HP OMEN Gaming Laptop, Intel Core i7-13700HX, ...",4.0 out of 5 stars,"98,990"
8,"Dell Inspiron 3530 Laptop, 13th Generation Int...",3.5 out of 5 stars,"70,190"
9,"Lenovo ThinkPad E14 Intel Core i7 13th Gen 14""...",5.0 out of 5 stars,"89,990"

## Q6: Write a python program to scrape data for Top 1000 Quotes of All Time

In [42]:
#set up the Chrome driver and open the webpage

In [2]:
driver = webdriver.Chrome()
driver.maximize_window()
url = 'https://www.azquotes.com/'
driver.get(url)

In [3]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, "//a[text()='Top Quotes']"))).click()

In [43]:
#fetching required data

In [4]:
Quotes = []
Authors = []
Types = []

In [5]:
for page in range(1, 11):
    top_quotes = driver.find_elements(By.XPATH, "//a[@class='title']")
    quote_authors = driver.find_elements(By.XPATH, "//div[@class='author']//a")
    quote_tags_elements = driver.find_elements(By.XPATH, "//div[@class='tags']")

    for tq, qa, qt in zip(top_quotes, quote_authors, quote_tags_elements):
        quote = tq.text
        author = qa.text
        tags = [tag.text for tag in qt.find_elements(By.XPATH, ".//a")]
        Quotes.append(quote)
        Authors.append(author)
        Types.append(tags)
        
    if page < 10:
        next_page_button = driver.find_element(By.XPATH, "//a[@rel='nofollow' and contains(text(), 'Next')]")
        next_page_button.click()
        time.sleep(3)

In [44]:
#checking lenth of data

In [6]:
print(len(Quotes))
print(len(Authors))
print(len(Types))

1000
1000
1000

In [45]:
#closing webdriver

In [7]:
driver.close()

In [46]:
#creating DataFrame

In [8]:
Quotes_Details = pd.DataFrame({})
Quotes_Details['Quote'] = Quotes[:1000]
Quotes_Details['Author'] = Authors[:1000] 
Quotes_Details['Type of Quote'] = Types[:1000]
Quotes_Details.head()

,Quote,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"[Essence, Deep Thought, Transcendentalism]"
1,One cannot and must not try to erase the past ...,Golda Meir,"[Inspiration, Past, Trying]"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"[Country, Peace, War]"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"[Inspirational, Motivational, Death]"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"[4th Of July, Food, Patriotic]"

## Q7. Write a python program to display list of respected former Prime Ministers of India (i.e. Name, Born-Dead, Term of office, Remarks)

In [47]:
#set up the Chrome driver and open the webpage

In [16]:
driver = webdriver.Chrome()
driver.maximize_window()
url = 'https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1'
driver.get(url)

In [48]:
#fetching required data

In [86]:
PM_Name = []
Born_Dead = []
Term_Of_Office = []
Remarks = []

In [87]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
table = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.XPATH, "//div[@class='TableData']")))
rows = table.find_elements(By.XPATH, ".//tr")
    
for row in rows:
    columns = row.find_elements(By.XPATH, ".//td")
    if len(columns) >= 4:
        name = columns[1].text.strip()
        PM_Name.append(name)
        born_dead = columns[2].text.strip()
        Born_Dead.append(born_dead)
        term_of_office = columns[3].text.strip()
        term_of_office = term_of_office.replace('\n',' ')
        Term_Of_Office.append(term_of_office)
        remarks = columns[4].text.strip()
        Remarks.append(remarks)

In [49]:
#closing webdriver

In [88]:
driver.close()

In [50]:
#creating DataFrame

In [89]:
PMInfo = pd.DataFrame({})
PMInfo['Name'] = PM_Name
PMInfo['Born-Dead'] = Born_Dead
PMInfo['Term Of Office'] = Term_Of_Office
PMInfo['Remarks'] = Remarks

In [90]:
PMInfo

,Name,Born-Dead,Term Of Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964 16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964, 13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966 1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966 13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977 11 years, 59 ...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980 170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984 4 years, 29...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989 5 years, 32...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990 343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991 223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996 4 years, 330 days",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996 16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997 324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 6 years, 64 days",The first non-congress PM who completed a full...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

## Q8: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com

In [51]:
#set up the Chrome driver and open the webpage

In [94]:
driver = webdriver.Chrome()
driver.maximize_window()
url = 'https://www.motor1.com/'
driver.get(url)

In [52]:
#search for most expensive cars

In [95]:
search = driver.find_element(By.XPATH,"//input[@class='m1-search-panel-input m1-search-form-text']")
search.send_keys("50 most expensive cars")

In [53]:
#click on search icon

In [96]:
results = driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
results.click()
time.sleep(3)

In [54]:
#clock on 50 most expensive cars in the world

In [98]:
cars_data = driver.find_element(By.XPATH,'//div[@class="text-box"]//h3/a')
cars_data.click()
time.sleep(3)

In [55]:
#fetching car name

In [129]:
Cars =[]
Prices= []

In [130]:
car_name = driver.find_elements(By.XPATH, "//h3[@class='subheader']")
for i in car_name:
    name = i.text
    Cars.append(name)
Cars.pop()
print(Cars)

['McLaren Senna GTR', 'Czinger 21C', 'Ferrari Monza', 'Gordon Murray T.33', 'Koenigsegg Gemera', 'Hennessey Venom F5', 'Bentley Bacalar', 'Hispano Suiza Carmen Boulogne', 'Bentley Mulliner Batur', 'SSC Tuatara', 'Lotus Evija', 'Aston Martin Vulcan', 'Delage D12', 'Ferrari Daytona SP3', 'McLaren Speedtail', 'Rimac Nevera', 'Pagani Utopia', 'Pininfarina Battista', 'Gordon Murray T.50', 'Lamborghini Countach', 'Hennessey Venom F5 Revolution', 'Mercedes-AMG Project One', 'Zenvo Aurora', 'Aston Martin Victor', 'Hennessey Venom F5 Roadster', 'Koenigsegg Jesko', 'Aspark Owl', 'Aston Martin Valkyrie', 'W Motors Lykan Hypersport', 'McLaren Solus', 'Pagani Huayra Evo R', 'Lamborghini Sian', 'Koenigsegg CC850', 'Bugatti Chiron Super Sport 300+', 'Gordon Murray Automotive T.50s Niki Lauda', 'Pagani Huayra Roadster BC', 'Lamborghini Veneno', 'Bugatti Bolide', 'Pininfarina B95 Speedster', 'Bugatti Mistral', 'Bugatti Divo', 'Pagani Huayra Imola', 'Pagani Codalunga', 'Mercedes-Maybach Exelero', 'Bugatti Centodieci', 'Bugatti Chiron Profilée', 'Rolls-Royce Sweptail', 'Bugatti La Voiture Noire', 'Rolls-Royce Boat Tail', 'Rolls-Royce La Rose Noire Droptail']

In [56]:
#fetching car price

In [131]:
car_price = driver.find_elements(By.XPATH, "//strong")
for i in car_price:
    price = i.text
    price = price.replace('Price: ', '')
    Prices.append(price)
print(Prices)

['$1.7 Million', '$1.7 Million', '$1.7 Million', '$1.7 Million', '$1.7 Million', '$1.8 Million', '$1.9 Million', '$1.9 Million', '$2.0 Million', '$2.0 Million', '$2.1 Million', '$2.3 Million', '$2.3 Million', '$2.3 Million', '$2.3 Million', '$2.4 Million', '$2.5 Million', '$2.5 Million', '$2.6 Million', '$2.6 Million', '$2.7 Million', '$2.7 Million', '$2.8 Million', '$3.0 Million', '$3.0 Million', '$3.0 Million', '$3.1 Million', '$3.2 Million', '$3.4 Million', '$3.5 Million', '$3.5 Million (est.)', '$3.6 million', '$3.7 Million', '$3.9 Million', '$3.9 Million', '$4.0 Million', '$4.5 Million', '$4.7 Million', '$4.8 Million', '$5.0 Million', '$5.8 Million', '$6.0 Million', '$7.4 Million', '$8.0 Million', '$9.0 Million', '$10.8 Million', '$12.8 Million', '$13.4 Million', '$28.0 Million (est.)', '$30 Million (est.)']

In [57]:
#closing webdriver

In [134]:
driver.close()

In [58]:
#creating DataFrame

In [135]:
Expensive_Cars = pd.DataFrame({})
Expensive_Cars['Car Name'] = Cars
Expensive_Cars['Price'] = Prices

In [136]:
Expensive_Cars

                                     Car Name                 Price
0                           McLaren Senna GTR          $1.7 Million
1                                 Czinger 21C          $1.7 Million
2                               Ferrari Monza          $1.7 Million
3                          Gordon Murray T.33          $1.7 Million
4                           Koenigsegg Gemera          $1.7 Million
5                          Hennessey Venom F5          $1.8 Million
6                             Bentley Bacalar          $1.9 Million
7               Hispano Suiza Carmen Boulogne          $1.9 Million
8                      Bentley Mulliner Batur          $2.0 Million
9                                 SSC Tuatara          $2.0 Million
10                                Lotus Evija          $2.1 Million
11                        Aston Martin Vulcan          $2.3 Million
12                                 Delage D12          $2.3 Million
13                        Ferrari Daytona SP3          $2.3 Million
14                          McLaren Speedtail          $2.3 Million
15                               Rimac Nevera          $2.4 Million
16                              Pagani Utopia          $2.5 Million
17                       Pininfarina Battista          $2.5 Million
18                         Gordon Murray T.50          $2.6 Million
19                       Lamborghini Countach          $2.6 Million
20              Hennessey Venom F5 Revolution          $2.7 Million
21                   Mercedes-AMG Project One          $2.7 Million
22                               Zenvo Aurora          $2.8 Million
23                        Aston Martin Victor          $3.0 Million
24                Hennessey Venom F5 Roadster          $3.0 Million
25                           Koenigsegg Jesko          $3.0 Million
26                                 Aspark Owl          $3.1 Million
27                      Aston Martin Valkyrie          $3.2 Million
28                  W Motors Lykan Hypersport          $3.4 Million
29                              McLaren Solus          $3.5 Million
30                        Pagani Huayra Evo R   $3.5 Million (est.)
31                           Lamborghini Sian          $3.6 million
32                           Koenigsegg CC850          $3.7 Million
33            Bugatti Chiron Super Sport 300+          $3.9 Million
34  Gordon Murray Automotive T.50s Niki Lauda          $3.9 Million
35                  Pagani Huayra Roadster BC          $4.0 Million
36                         Lamborghini Veneno          $4.5 Million
37                             Bugatti Bolide          $4.7 Million
38                  Pininfarina B95 Speedster          $4.8 Million
39                            Bugatti Mistral          $5.0 Million
40                               Bugatti Divo          $5.8 Million
41                        Pagani Huayra Imola          $6.0 Million
42                           Pagani Codalunga          $7.4 Million
43                   Mercedes-Maybach Exelero          $8.0 Million
44                         Bugatti Centodieci          $9.0 Million
45                    Bugatti Chiron Profilée         $10.8 Million
46                       Rolls-Royce Sweptail         $12.8 Million
47                   Bugatti La Voiture Noire         $13.4 Million
48                      Rolls-Royce Boat Tail  $28.0 Million (est.)
49         Rolls-Royce La Rose Noire Droptail    $30 Million (est.)